<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="chadwick-api" value="https://pkgs.dev.azure.com/marcswilson/6156dfa9-0e8b-435c-ade5-311c67163a59/_packaging/chadwick-api/nuget/v3/index.json" />
    </packageSources>
</configuration>